<%= form_with(model: @chitter, local: true, url: choose_new_or_edit) do |form| %>
  <% if @chitter.errors.any? %>
    <div class="error_explanation">
      <ul>
        <% @chitter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="chitter_tweet">
    <%= form.label :chitter %>
    <%= form.text_area :tweet, rows: 6 %>
  </div>
  <div class="chitter_button">
    <button type="submit" class="button_left button_tweet_index" name="commit">つぶやく</button>
  </div>

<% end %>
