<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChitterApp</title>
</head>
<body>
    <h1>ツイート一覧</h1>
    <% @chitters.each do |chitter| %>
        <div>
            <%= chitter.tweet %>
            <%= link_to "編集", edit_chitter_path(chitter.id) %>
        </div>
    <% end %>

    <%= link_to '新規ツイートを投稿する', new_chitter_path %>
</body>
</html>
