<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChitterApp</title>
</head>
<body>
    <%= form_with(model: @chitter, local: true) do |form| %>
        <div class="chitter_tweet">
            <%= form.label :tweet %>
            <%= form.text_field :tweet %>
        </div>
        <%= form.submit %>
    <% end %>
</body>
</html>